<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Local Example</title>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script type="text/javascript">
			var socket = io.connect('http://127.0.0.1');
			$(function(){
				room = "test";
				socket.emit('join_room', room);
				socket.on('update_chat', function(user,message){
					$("#chat").append(user+" "+message+"<br>");
				});

				$("#submit").click(function(){
					var message = $("#message").val();
					socket.emit('send_chat', message);
				});
			})
		</script>	
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>