<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.username %>.</h2>
	<% for(var i=0; i<user.rooms.length; i++) {%>
   		<li><%= user.rooms[i] %></li>
	<% } %>
<% } %>